# Ignore dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local environment

logs
*.log

# Ignore build/coverage/test/cache outputs
dist
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
public
.out
.storybook-out

# Ignore temp files
tmp/
temp/
*.pid
*.pid.lock

# Ignore IDE/editor/system files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
ehthumbs.db
Thumbs.db

# Git
.git
